.button {
  @extend %fontMPlus;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  padding: 15px 35px;
  background: $color-btn;
  box-shadow: 0px 12px 24px rgba(252, 54, 152, 0.45);
  border-radius: 2px;
  border: none;
  color: $light-text-color;
  display: block;
  margin: 15px auto 0;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 12px 32px rgba(252, 54, 152, 0.55);
  }

  &:active {
    background-color: #DA3386;
    box-shadow: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.button_light {
  margin-top: 30px;
  background: transparent;
  color: $main-dark-color;
  border: 2px solid $main-dark-color;
  box-shadow:none;

  &:hover {
    background-color: #764F96;
    box-shadow: none;
    color: $light-text-color;
  }

  &:active {
    background-color: #62417C;
  }
}

.button_link {
  width: 261px;
  text-decoration: none;

  .button__text {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 14px;
      right: 10px;
      top: 4px;
      background-image: url("../img/buttonArrow.svg");
      background-repeat: no-repeat;

      @media (min-width: $middle-desktop-width) {
        right: -20px;
      }

      @media (min-width: $desktop-width) {
        right: -20px;
      }
    }
  }

  @media (min-width: $middle-desktop-width) {
    width: 275px;
  }
}

