.container {
  width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $middle-mobile-width) {
    width: 480px;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 24px;
  }

  @media (min-width: $desktop-width) {
    width: 1000px;
  }

  @media (min-width: $middle-desktop-width) {
    width: 1366px;
    padding: 0 38px;
  }
}