.footer-logo {
  width: 120px;
  height: 130px;
  background-image: url('../img/bgLogoFooter.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}