$light-background-color: #fff;
$dark-background-color: #FCF9FF;
$main-dark-color: #764F96;
$open-menu-bg: rgba(118, 79, 150, 0.75);
$light-text-color: #fff;
$dark-text-color: #000;
$card-line-color: #DDD1E7;
$slider-dots-color: #f4f4f4;
$footer-development-bg: #714A91;
$color-btn: #fc3698;